<div class="container app-top-margin">
  <div class="logo" style="clear: both">
    <h1 class="display-1" style="font-family: Futura,sans-serif">
      <div id="wrapper">
        <div class="logo-letter letter-blue">S</div>
        <div class="logo-letter letter-red">e</div>
        <div class="logo-letter letter-yellow">a</div>
        <div class="logo-letter letter-blue">r</div>
        <div class="logo-letter letter-green">c</div>
        <div class="logo-letter letter-red">h</div>
      </div>
    </h1>
  </div>
  <div class="search-box">
    <div class="input-group mb-3">
      <input type="text" [(ngModel)]="expression"  (keydown.enter)="onSubmit()" class="form-control" placeholder="Insert query" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)="onSubmit()">Search</button>
      </div>
    </div>
  </div>
  <div class="form-check">
    <input (click)="setVectorModel()" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="option1" checked>
    <label class="form-check-label" for="exampleRadios1">
      Vector model
    </label>
  </div>
  <div class="form-check">
    <input (click)="setBooleanModel()" class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
    <label class="form-check-label" for="exampleRadios2">
      Boolean model
    </label>
  </div>
  <p *ngIf="response">Sent expression: {{response.expression}}</p>
  <p *ngIf="response">Total results: {{response.numberOfAllResults}}</p>
  <app-result-table *ngIf="response" [response1]="response.articles"></app-result-table>
</div>
