<nav class="sticky navbar navbar-expand-lg navbar-light" >
  <a class="my-nav-logo navbar-brand">Information Retrieval</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="my-nav-item nav-link" routerLink="">Home</a>
    <a class="my-nav-item nav-link" routerLink="about">About</a>
  </div>
</nav>
