<nav class="sticky navbar navbar-expand-lg navbar-light" >
  <div class="logo" style="clear: both" routerLink="">
    <h3 style="font-family: Futura,sans-serif">
      <div id="wrapper">
        <div class="logo-letter letter-blue">S</div>
        <div class="logo-letter letter-red">e</div>
        <div class="logo-letter letter-yellow">a</div>
        <div class="logo-letter letter-blue">r</div>
        <div class="logo-letter letter-green">c</div>
        <div class="logo-letter letter-red">h</div>
      </div>
    </h3>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <a class="my-nav-item nav-link" routerLink="">Home</a>
    <a class="my-nav-item nav-link" routerLink="articles">Articles</a>
    <a class="my-nav-item nav-link" routerLink="add">Add</a>
    <a class="my-nav-item nav-link" routerLink="settings">Settings</a>
    <a class="my-nav-item nav-link" routerLink="about">About</a>
  </div>
</nav>
